/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/Project.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
.idea/shelf/Uncommitted_changes_before_Update_at_17_03_2023_00_09_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_17_03_2023_00_09__Changes_.xml
